* { margin: 0; padding: 0; }
html, body { height: 100%; }

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10pt;
	color: #393733;
	background: #F0F0F0;
}

/********************************************************************************************************* Layout */
div#header {
	position: relative;
	width: 80%;
	background: #D9D9D9;
	margin: 0 auto 40px;
	padding:20px;
	font-size: 12pt;
}

ul#site-links {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

div#content {
	width: 80%;
	background: #FFF;
	margin: 0 auto;
	padding: 20px;
}

div#footer {
	width: 80%;
	margin: 0 auto;
	padding: 30px;
}

div#flash {
	background: #444;
	margin-bottom: 10px;
	padding: 15px;
	color: #EEE;

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

/********************************************************************************************************* Typography */
p { padding: 10px; }

a {
	cursor: pointer;
	color: #3876B4;
	text-decoration: none;
}

a:hover { text-decoration: underline; }
a img { color: transparent; }

h1 div { font-size: 10pt; }

.small-text, .small-text * { font-size: 8pt; }

/********************************************************************************************************* Forms */
fieldset {
	border: 1px solid #CCC;
	margin: 20px 0;
	padding: 10px;
}

legend { font-size: 12pt; }

label {
	float: left;
	clear: left;
	width: 200px;
}

input[type=text], input[type=password], textarea, select {
	min-width: 200px;
	padding: 2px;
	margin-bottom: 5px;
	border: 1px solid #CCC;
	float: left;
	font-size: 10pt;
}

input[type=submit] {
	float: left;
	clear: left;
}

/********************************************************************************************************* Lists */
ul, ol { margin: 10px 0; padding-left: 40px; }
ul { list-style-type: square; }

ul.inline {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

ul.inline li {
	display: inline;
	padding: 0 1px;
	margin: 0;
}

/********************************************************************************************************* Positioning */
.fixed { position: absolute;}
.relative { position: relative; }

.float-left { float: left; }
.float-right { float: right; }
.float-center {
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
}
.clear-left { clear: left; }
.clear-right { clear: right; }
.clear-both { clear: both; }

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

/********************************************************************************************************* Corners */
.corner-all {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.corner-top {
	-webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;

	-webkit-border-top-right-radius: 5px;
	-khtml-border-radius-topright: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

.corner-bottom {
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;

	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-radius-bottomright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

/********************************************************************************************************* Code */
div.code {
	padding: 10px;
	border-top: 1px solid #DDD;
	margin-top: 10px;
}
pre, .pre {
	max-height: 500px;
	font-size: 10pt;
	margin: 10px;
	padding: 10px 15px;
	border: 2px solid #26661E;
	background: #E2F8E4;
	overflow-x: auto;
}