<h1>Users Index</h1>

<ul>
	<% User.forEach(function(user){ %>
		<li>
			<h1><%- pie.Helper.Html.link(user.name, { 'action' : 'view', 'id' : user.id }) %></h1>
			<p><%= user.email %></p>
		</li>
	<% }) %>
</ul>