<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

	<head>
		<title>PieJS Default Layout</title>
	</head>

	<body>
		<% if (flash && flash.info) { %>
			<div><%= flash.info %></div>
		<% } %>
		<%- body %>
	</body>
</html>