<form method="post" action="/blog/posts/edit">
	<input type="hidden" name="id" value="<%- Post.id %>">
	<label>Name</label>
	<input type="text" name="name" value="<%- Post.name %>">
	<label>User ID</label>
	<input type="text" name="user_id" value="<%- Post.user_id %>">
	<label>Content</label>
	<input type="text" name="content" value="<%- Post.content %>">
	<input type="submit">
</form>