<h1>Posts Index <%- pie.Helper.Html.link('[add a post]', { 'action' : 'add' }) %></h1>

<ul>
	<% Post.forEach(function(post){ %>
		<li>
			<h1><%- pie.Helper.Html.link(post.name, { 'action' : 'view', 'id' : post.id }) %></h1>
			<p><%= post.content %></p>
		</li>
	<% }) %>
</ul>