<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

	<head>
		<title>PieJS Example Blog</title>
		<%- pie.Helper.Html.css('default') %>
		<%- pie.Helper.Html.js('alert') %>
	</head>

	<body>
		<div id="header"><h1>PieJS Example Blog</h1></div>
		<div id="content">
			<% if (flash && flash.info) { %>
				<div id="flash"><%= flash.info %></div>
			<% } %>

			<%- body %>
		</div>
	</body>
</html>