<%- pie.Helper.Form.create({ 'action' : 'add' }) %>
	<label>Name</label>
	<input type="text" name="name">
	<label>User ID</label>
	<input type="text" name="user_id">
	<label>Content</label>
	<input type="text" name="content">
<%- pie.Helper.Form.end('Create Post') %>

<div class="code">
	<h3>Code for this controller action:</h3>
<pre><%- controllerActionCode %></pre>
</div>